h1,h2{

font-family: cambria;

}
.start{
margin:15%;
}
.footer{
margin-left: 50%;
}
.login{
float:right;
margin-left:1000px;   
}
input{
width: 120px !important;
}
form{
margin-top: 150px;
margin-left:30px;

}
.table{

margin-top:100px;

}

p{
    text-align: center;
}